/* General settings for all buttons on page */
@import url("../button/_header/button_header.css");
@import url("../button/_get-started/button_get-started.css");
@import url("../button/_footer/button_footer.css");

.button {
    border: none;
    border-radius: 28px;
    font-family: 'Plus Jakarta Sans Medium', sans-serif;
    font-style: normal;
}