/* Course icon */

.courses__icon {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -24px;
    left: 28px;
    margin: 0 0 24px 0;
}

@media screen and (min-width: 768px) {
    .courses__icon {
        top: -24px;
        left: 32px;
    }
}
