@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/root/root.css");
@import url("../blocks/header/header.css");
@import url("../blocks/navigation/navigation.css");
@import url("../blocks/button/button.css");
@import url("../blocks/get-started/get-started.css");
@import url("../blocks/courses/courses.css");
@import url("../blocks/footer/footer.css");

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red;  */
    box-sizing: border-box;
}