/* Section with title, subtitle, button and image with counters */

@import url("../get-started/__container/get-started__container.css");
@import url("../get-started/__title/get-started__title.css");
@import url("../get-started/__subtitle/get-started__subtitle.css");
@import url("../get-started/__image/get-started__image.css");


.get-started {
    padding: 22px 16px 0 16px;
}

@media screen and (min-width: 768px) {
    .get-started {
        padding: 76px 0 0 40px;
    }
  }

  @media screen and (min-width: 1440px) {
    .get-started {
        padding: 148px 0 0 165px;
    }
  }
